@tailwind base;
@tailwind components;
@tailwind utilities;

.editable-row .ant-form-item-explain {
  position: absolute;
  top: 100%;
  font-size: 12px;
}

.otp {
  background-color: rgb(243, 243, 243) !important;
  width: 2.5em !important;
  height: 2.5em !important;
  margin: 0px 2px !important;
  border: 1px solid grey !important;
  border-radius: 4px !important;
}

.pointer-cursor {
  cursor: pointer;
}

.select__control{
  width: 200px !important;
}